@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #ffffff;
  --main: #8b7a63;
  --heading: #5c4323;
  --customBorder: #e0d4c0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
  --color-main: var(--main);
  --color-heading: var(--heading);
  --color-customBorder: var(--customBorder);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3ede3;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* #8B7A63 */
